.container {
    background-color: rgb(23, 2, 31);
    padding: 20px;
    width: 50%;
    align-items: center;
    justify-items: center;
    background-image: url();
    
}
body {
    display: flex;
    height: 100dvh;
    justify-content: center;
    align-items: center;
    background-image: url("https://img.freepik.com/free-vector/gradient-numerology-background_23-2150051046.jpg");
    background-size: 100cm;
}
.text {
    color: rgb(160, 72, 135);
}
.container h1 {
    color: rgb(139, 44, 148);
    text-align: center;
    
}


