.container {
    background-color: black;
    padding: 20px;
    width: 50%;
    align-items: center;
    justify-items: center;
    border-radius: 20px;
    display: flex;
}
body {
    display: flex;
    height: 100dvh;
    justify-content: center;
    align-items: center;
    background-image: url("https://img.freepik.com/free-vector/gradient-numerology-background_23-2150051046.jpg");
    background-size: 100cm;
}
.text {
    color: rgb(160, 72, 135);
    font-size: 50px;
}
.container h1 {
    color: rgb(139, 44, 148);
    text-align: center;
    
}

.col{
    width: 100%;
    text-align: center;
        display: flex;
    flex-direction: column;
    gap: 10px;
}

.col input {
    padding: 5px;
    text-align: center;
    border-radius: 5px;



}
.col select {
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}
.col button {
    border-radius: 12px;
    padding: 10px;
    background: linear-gradient(to right, pink 0%, purple 50%, blue 100%);
    color: white;
    font-size: 10px;



}
.col button:hover {
    background: linear-gradient(to right, rgb(236, 184, 193) 0%, rgb(206, 1, 206) 50%, rgb(70, 70, 255) 100%);
    transition: all ease-in-out; 
    cursor: pointer;

}



